#nav-bar {
    /* z-index: 100 !important; */
    pointer-events: none !important;
    background-color: transparent !important;
    margin-top: calc(0px - var(--tab-min-height) - 8px) !important;
}

#urlbar {
    background-color: var(--toolbar-field-background-color) !important;
    border-radius: 8px !important;
}

#urlbar-container {
    pointer-events: all !important;
    min-width: auto !important;
    z-index: 100 !important;

    margin-right: 70vw !important;
    transition-duration: 0.1s !important;
    transition-property: margin-right !important;
    transition-timing-function: ease-in-out !important;
}

#urlbar-container:hover {
    margin-right: 180px !important;
    transition-duration: 0.2s !important;
    transition-delay: 0.5s !important;
}

.urlbarView-url {padding-left: 0px !important;}

#TabsToolbar {margin-left: 30vw !important;} /*#titlebar ?*/

#PanelUI-button { 
    padding-left: 4px;
    -moz-box-ordinal-group: 0 !important; 
}

#downloads-button,
#forward-button,
#back-button,
#PanelUI-menu-button {
    padding: 0px !important;
    pointer-events: all !important;
}

#urlbar-background {
    background-color: var(--toolbar-field-focus-background-color) !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.333) !important;
    height: var(--tab-min-height) !important;
}

.titlebar-spacer[type="pre-tabs"], 
#reader-mode-button,
#eme-notification-icon, /*DRM*/
#urlbar-go-button,
#tracking-protection-icon-container,
#star-button-box,
#urlbar-input::placeholder, /*Search with Google tooltip*/
.urlbarView-favicon, /*website suggestions favicons*/
#identity-box *:not(#page-proxy-favicon), /*Connection secure icon*/
.extensionPage {
    display: none !important;
    opacity: 0.0 !important; 
}

#PersonalToolbar {height: var(--tab-min-height) !important;}